<a href="https://colab.research.google.com/github/opeyemiferanmi1/Hamoye-Task1-Understanding-Electricity-Utility-data-/blob/master/Stage_B_Predicting_Energy_Efficiency_of_Buildings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')
data.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [3]:
cols_to_drop = data[['date','lights']]#columns to drop
df= data.drop(cols_to_drop, axis=1)
df.head(2)

   Appliances     T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.89  47.596667  ...        5.3  13.275433  13.275433
1          60  19.89  46.693333  ...        5.2  18.606195  18.606195

[2 rows x 27 columns]

In [4]:
# Normalize the data set to a common scale using min max scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
norm_df = pd.DataFrame(scaler.fit_transform(df),columns= df.columns)
norm_df.head()

   Appliances       T1      RH_1  ...  Tdewpoint       rv1       rv2
0    0.046729  0.32735  0.566187  ...   0.538462  0.265449  0.265449
1    0.046729  0.32735  0.541326  ...   0.533937  0.372083  0.372083
2    0.037383  0.32735  0.530502  ...   0.529412  0.572848  0.572848
3    0.037383  0.32735  0.524080  ...   0.524887  0.908261  0.908261
4    0.046729  0.32735  0.531419  ...   0.520362  0.201611  0.201611

[5 rows x 27 columns]

## Simple Linear Regression

In [7]:
#select a sample of the dataset
import numpy as np
x = np.array(df['T2']).reshape(-1, 1)
y = df['T6']

In [8]:
#Split data into test and train data set
from sklearn.model_selection import train_test_split
sx_train, sx_test, sy_train, sy_test = train_test_split(x,y, test_size =0.3, random_state =42)

In [9]:
from sklearn.linear_model import LinearRegression
simple_linear_model = LinearRegression()
#fit
simple_linear_model.fit(sx_train, sy_train)
#obtain predictions
s_predicted_values = simple_linear_model.predict(sx_test)

In [10]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
def metrics(true,predicted_values):
    mae = print('MAE:{:.2f}'.format(mean_absolute_error(true,predicted_values)))
    r_squared = print('R_squared:{:.2f}'.format(r2_score(true,predicted_values)))
    rss = print('RSS:{:.2f}'.format(np.sum(np.square(true-predicted_values))))
    rmse = print('RMSE:{:.3f}'.format(np.sqrt(mean_squared_error(true,predicted_values))))

In [11]:
metrics(sy_test,s_predicted_values)

MAE:2.82
R_squared:0.64
RSS:78033.97
RMSE:3.630

## Multiple Regression

In [12]:
features = norm_df.drop(['Appliances'],axis =1)
target = norm_df['Appliances']

In [13]:
#Split data into test and train data set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features,target, test_size =0.3, random_state =42)

### Linear Regression

In [14]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
#fit
linear_model.fit(x_train, y_train)
#obtain predictions
predicted_values = linear_model.predict(x_test)

In [15]:
metrics(y_test,predicted_values)

MAE:0.05
R_squared:0.15
RSS:45.35
RMSE:0.088

In [16]:
def get_weights_df(model, feat, col_name):
    '''This function returns the weight of every feature'''
    weights = pd.Series(model.coef_,feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns =['Features',col_name]
    weights_df[col_name].round(3)
    return weights_df

In [44]:
linear_model_weights = get_weights_df(linear_model,x_train,'Linear_model_Weights').sort_values('Linear_model_Weights')
linear_model_weights

       Features  Linear_model_Weights
0          RH_2             -0.456698
1         T_out             -0.321860
2            T2             -0.236178
3            T9             -0.189941
4          RH_8             -0.157595
5        RH_out             -0.077671
6          RH_7             -0.044614
7          RH_9             -0.039800
8            T5             -0.015657
9            T1             -0.003281
10          rv1              0.000770
11          rv2              0.000770
12  Press_mm_hg              0.006839
13           T7              0.010319
14   Visibility              0.012307
15         RH_5              0.016006
16         RH_4              0.026386
17           T4              0.028981
18    Windspeed              0.029183
19         RH_6              0.038049
20         RH_3              0.096048
21           T8              0.101995
22    Tdewpoint              0.117758
23           T6              0.236425
24           T3              0.290627
25         RH_1              0.553547

### Ridge Regression

In [39]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)
#obtain predictions
r_predicted_values = ridge_reg.predict(x_test)

In [40]:
metrics(y_test,r_predicted_values)

MAE:0.05
R_squared:0.15
RSS:45.37
RMSE:0.088

### Lasso Regression

In [32]:
import numpy as np
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)
#obtain predictions
l_predicted_values = lasso_reg.predict(x_test)

In [33]:
metrics(y_test,l_predicted_values)

MAE:0.06
R_squared:0.03
RSS:51.85
RMSE:0.094

In [36]:
lasso_weights_df = get_weights_df(lasso_reg,x_train,'Lasso_Weights')
lasso_weights_df

       Features  Lasso_Weights
0        RH_out      -0.049557
1          RH_8      -0.000110
2            T1       0.000000
3     Tdewpoint       0.000000
4    Visibility       0.000000
5   Press_mm_hg      -0.000000
6         T_out       0.000000
7          RH_9      -0.000000
8            T9      -0.000000
9            T8       0.000000
10         RH_7      -0.000000
11          rv1      -0.000000
12           T7      -0.000000
13           T6       0.000000
14         RH_5       0.000000
15           T5      -0.000000
16         RH_4       0.000000
17           T4      -0.000000
18         RH_3       0.000000
19           T3       0.000000
20         RH_2      -0.000000
21           T2       0.000000
22         RH_6      -0.000000
23          rv2      -0.000000
24    Windspeed       0.002912
25         RH_1       0.017880

In [41]:
#count non_zeros feature weights
lasso_weights_df[lasso_weights_df['Lasso_Weights']!=0]

     Features  Lasso_Weights
0      RH_out      -0.049557
1        RH_8      -0.000110
24  Windspeed       0.002912
25       RH_1       0.017880